.home{

    min-height:100vh;

    background:#181616;
}

/* Main Content */

.main-content{

    max-width:1280px;

    margin:0 auto;

    display:flex;

    gap:40px;

    padding:35px 60px 80px;

    align-items:flex-start;

    box-sizing:border-box;
}

/* Right Side */

.books-content{

    flex:1;

    min-width:0;
}
.home{
    background:#181616;
    min-height:100vh;
    padding-top:130px;
}