.book-grid{

    display:grid;

    grid-template-columns:repeat(5,minmax(0,1fr));

    gap:24px;

    width:100%;
}

.book-grid img{

    width:165px;

    height:245px;

    object-fit:cover;

    display:block;

    border-radius:6px;

    transition:.3s;

    cursor:pointer;
}

.book-grid img:hover{

    transform:translateY(-8px);

    box-shadow:0 16px 35px rgba(0,0,0,.45);
}
.book-grid-link {
  text-decoration: none;
  color: inherit;
  display: block;
}