.featured-books{

    margin-bottom:35px;
}

.featured-books h2{

    color:white;

    font-size:38px;

    font-family:"Philosopher", serif;

    margin-bottom:10px;
}

.featured-books p{

    color:#BEBEBE;

    font-size:16px;

    line-height:1.6;
}